body{

    text-align: center;
}


.j1{
    padding-top: 20px;
    background-color: antiquewhite;
    width: 100%;
    min-height: 400px;
    border: 1rem solid red;
}

.j2{
    background-color: aquamarine;
    padding-top: 20px;
    width: 100%;
    min-height: 400px;

}

.table{
    
    justify-content: center;
}

#buttonNew{
    margin-top: 20px;
}

#enCoursJ1, #enCoursJ2{

    position: relative;
    top: 100px;
  
}

#cumulJ1, #cumulJ2{
    
    font-size: 70px;
}